<div class="top">
 <h1>ようこそ<span class="top-item">Bookers</span>へ！</h1>
 <p><span class="top-item2">Bookers</span>では、さまざまな書籍に関するあなたの意見や</p>
 <p>印象を共有し交換することが出来ます</p>
 <p><%= link_to "start", "/books" %></p>
</div>
